.container {
  margin: 0 auto 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.mat-mdc-card {
  background-color: white;
  color: black;
  padding: 10px;
  margin-top: 10px;
  max-width: 400px;
}

.button {
  margin-right: 5px;
}

.image {
  max-width: 200px;
  margin: 20px;
}